<a href="https://colab.research.google.com/github/vamsiram89/Data_sets/blob/main/14_11_25_tuples_set_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple

In [ ]:
# what is tuple or how can we declare a tuple or define a tuple ?
#tuple ---> ()
#tuple si defined as ordered, immutable, and allows the duplicate data

** tuple ** allows the duplicate data

In [1]:
t1 = (1,2,3,4,5,6,7,8,9,10)
print(len(t1))
print(t1)
print(type(t1))

10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

** tuple is ordered **

In [ ]:
# the elements in the tuple we have index position numbers

In [2]:
t2 = ("pineapple","orange","grapes","apples","banana","apple")
print(t2[2])

grapes

In [4]:
print(t2[:4])

('pineapple', 'orange', 'grapes', 'apples')

In [5]:
# even index position charaacters
print(t2[::2])

('pineapple', 'grapes', 'banana')

In [6]:
# reverse the entire tuple
print(t2[::-1])

('apple', 'banana', 'apples', 'grapes', 'orange', 'pineapple')

# tuple is immatable **--> we  cannot replace,add, and remove the items from the tuple

In [7]:
print(dir(t2))
# "count", "index"

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [8]:
# how can we add or replace or remove elements from the tuple?
t_1 = list(t2)
print(t_1)

['pineapple', 'orange', 'grapes', 'apples', 'banana', 'apple']

In [9]:
t_1.append(5)
print(t_1)

['pineapple', 'orange', 'grapes', 'apples', 'banana', 'apple', 5]

In [10]:
t_1.pop()
print(t_1)

['pineapple', 'orange', 'grapes', 'apples', 'banana', 'apple']

In [11]:
l_t = tuple(t_1)
print(l_t)

('pineapple', 'orange', 'grapes', 'apples', 'banana', 'apple')

In [12]:
# tuples are fater then the list?
# because tuples are immutable

In [13]:
set

set

In [14]:
#  WHAT IS SET OR HOW CAN WE DECLARE A SET ANS DEFINE A SET
#set is ---> {}
# set is defined as a unordered, immutable , and won't allows the duplicate data

 wont allows the duplicate data

In [17]:
s1 = {"apple","apple","banana","banana","kiwi","pineapple"}
print(len(s1))
print(s1)
print(type(s1))

4
{'kiwi', 'banana', 'pineapple', 'apple'}
<class 'set'>

** set is unordered --> there is no index position number to the  elements in the set

# "set" object is not subscriptable  because set is unordered

In [19]:
# ** set is immutable ** --> in set we cannot replace the elements but we can add and remove the items from the set
#--> we cannot replace the elements in set because the set is unordered

In [20]:
# add the items into the set
# 1.add():-
s2 = {"apple","apple","banana","banana","kiwi","pineapple"}
s2.add("mango")
print(s2)

{'kiwi', 'pineapple', 'mango', 'apple', 'banana'}

In [21]:
s2.add("vamsiram")
print(s2)

{'kiwi', 'pineapple', 'mango', 'vamsiram', 'apple', 'banana'}

In [23]:
dir(s2)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
# 2. update():-  is used to multiple elements from other collection into set
t1 = (1,1,2,3,5,6,6)
# add the t1 elements into the s2
s2.update(t1)
print(s2)

{'kiwi', 1, 2, 'pineapple', 3, 5, 6, 'mango', 'vamsiram', 'apple', 'banana'}

remove the items from the set

In [26]:
s3 = {'kiwi', 1, 2, 'pineapple', 3, 5, 6, 'mango', 'vamsiram', 'apple', 'banana'}
s3.pop()
print(s3)
# using pop is bad practice in set

{2, 3, 'pineapple', 1, 5, 6, 'mango', 'vamsiram', 'apple', 'banana'}

In [27]:
s3 = {'kiwi', 1, 2, 'pineapple', 3, 5, 6, 'mango', 'vamsiram', 'apple', 'banana'}
# remove(items)
s3.remove("vamsiram")
print(s3)

{'kiwi', 2, 3, 'pineapple', 1, 5, 6, 'mango', 'apple', 'banana'}

In [28]:
s3 = {'kiwi', 1, 2, 'pineapple', 3, 5, 6, 'mango', 'vamsiram', 'apple', 'banana'}
# remove(items)
s3.remove(5)
print(s3)

{'kiwi', 2, 3, 'pineapple', 1, 6, 'mango', 'vamsiram', 'apple', 'banana'}

In [29]:
# 3. discaard("item")
s3.discard("kiwi")
print(s3)

{2, 3, 'pineapple', 1, 6, 'mango', 'vamsiram', 'apple', 'banana'}

In [ ]:

# what is the difference between remove and discard?
# in remove() method if the item does not exist ot rises an error
#where as in discard() method if items exist or not it wont rise an error

In [ ]:
# clear()
s3.clear()
print(s3)
# empty set presents with set()
# empty tuple presents with tuple()
# empty list presents with list[]

# set is faster then list and tuple --> because set is unordered, and immutable

# when we need to use set, list and tuple?
# --> if there data manipulation in collection we sue the list
# --> if there is a sensitive data to store and no changes to make in future we use tuples
# ---> if we dont want to allow the duplicate data and requires faster response we use the sets

#dictionary

In [ ]:
# what is dictionary or how can we declare a dictionary and define a dictionary?
# dictionary ---> {key:value}pair
# dictionary is defined as unordered, mutable and wont allows the duplicate data.

In [30]:
# dictionary wont allows the duplicate data

In [31]:
d1 = {"Name":"vamsiram","Education":"B.tech","Occupation":"student","Education":"Data science"}
print(d1)
print(len(d1))
print(type(d1))

{'Name': 'vamsiram', 'Education': 'Data science', 'Occupation': 'student'}
3
<class 'dict'>